<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="EventsDBConnection" connectionString="Data source=SQLite\events.db"/>
    <add name="UserDBConnection" connectionString="Data source=SQLite\user.db"/>
    <add name="ProductDBConnection" connectionString="Data source=SQLite\product.db"/>
  </connectionStrings>
</configuration>
